@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noticia+Text:wght@400;700&display=swap');

* {
  margin: 0;
}

body {
  background-color: blanchedalmond;
  font-family: 'Lato', sans-serif;
  font-family: 'Noticia Text', serif;
}

header {
  text-align: center;
  margin-top: 2rem;
}

h1 {
  color: darkgreen;
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  color: blue;
}

main {
  display: flex;
}

.column {
  flex: 50%;
  margin: 1rem 2rem;
}

.column article {
  margin: 2rem 0rem;
  background-color: aquamarine;
  padding: 2rem 2rem;
  border-radius: 1rem;
}

.column img {
  width: 100%;
  border-radius: 3rem;
}

img {
  margin: 2rem 0rem;
}

@media screen and (max-width: 760px) {
  main {
    display: block;
  }
}

.feedback {
  text-align: center;
  border: 1px solid darkgreen;
  margin: 0rem 2rem;
}

.form {
  margin-left: 10%;
  padding: 1rem 2rem;
  text-align: left;
}

form label {
  display: block;
  margin: 1rem 0rem;
  padding: 1rem 1rem;
}

input {
  padding: 0.5rem 2rem;
  margin: 0rem 2rem;
}

input[type='email'] {
  margin: 0rem 4.2rem;
}

textarea {
  margin: 0rem 2rem;
}

input[type='submit'] {
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: medium;
  background-color: gray;
  color: white;
}

input[type='submit']:hover {
  background-color: darkgreen;
  cursor: pointer;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5rem 0rem;
  margin-top: 1rem;
}
